<div class="container">
  
  <div class="sidebar">
  <h1>Groceries</h1>
    <button class="new-list">+ New list</button>
    <ul>
      <li ><a routerLink="/all" routerLinkActive="active">All <span class="item-count">({{productCount}} items)</span></a></li>
      <li pDroppable (onDrop)="drop('fruits')"><a routerLink="/fruits" routerLinkActive="active">Fruits <span class="item-count">({{productCount}} items)</span></a></li>
      <li pDroppable (onDrop)="drop('vegetables')"><a routerLink="/vegetables" routerLinkActive="active">Vegetables <span class="item-count">({{productCount}} items)</span></a></li>
      <li pDroppable (onDrop)="drop('meats')"><a routerLink="/meats" routerLinkActive="active">Meats <span class="item-count">({{productCount}} items)</span></a></li>
    </ul>
  
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  
  </div>
</div>
